post:
    path:     /
    defaults: { _controller: "GbsBlogBundle:Post:index" }

post_show:
    path:     /{id}/show/{slug}
    defaults: { _controller: "GbsBlogBundle:Post:show" }

post_new:
    path:     /admin/post/new
    defaults: { _controller: "GbsBlogBundle:Post:new" }

post_create:
    path:     /admin/post/create
    defaults: { _controller: "GbsBlogBundle:Post:create" }
    requirements: { _method: post }

post_edit:
    path:     /admin/post/{id}/edit
    defaults: { _controller: "GbsBlogBundle:Post:edit" }

post_update:
    path:     /admin/post/{id}/update
    defaults: { _controller: "GbsBlogBundle:Post:update" }
    requirements: { _method: post|put }

post_delete:
    path:     /admin/post/{id}/delete
    defaults: { _controller: "GbsBlogBundle:Post:delete" }
    requirements: { _method: post|delete }
